################################################################################
# MINITAGE EGG  BUILDOUT
################################################################################
[buildout]
eggs-directory=../cache
parts =
    site-packages-2.4
    site-packages-2.5
    site-packages-2.6 
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
PIL=1.1.7
[libjpeg]
location=${buildout:directory}/../../dependencies/libjpeg/parts/part
[libpng]
location=${buildout:directory}/../../dependencies/libpng-1/parts/part
[libgif]
location=${buildout:directory}/../../dependencies/libgif-4.1/parts/part
[freetype]
location=${buildout:directory}/../../dependencies/freetype-2/parts/part
[libtiff]
location=${buildout:directory}/../../dependencies/libtiff-3/parts/part
[zlib]
location=${buildout:directory}/../../dependencies/zlib-1.2/parts/part
[mirrors]
zope = download.zope.org
minitage = distfiles.minitage.org/public/externals/minitage
[site-packages-2.4]
index=http://${mirrors:minitage}/PIL-1.1.7.tar.gz
find-links=${site-packages-2.4:index}
recipe = minitage.recipe.scripts
eggs=PIL
PIL-pre-setup-hook=${buildout:hooks-directory}/pil.py:pil
includes = ${freetype:location}/include/freetype2
[site-packages-2.5]
index=http://${mirrors:minitage}/PIL-1.1.7.tar.gz
find-links=${site-packages-2.4:index}
recipe = minitage.recipe.scripts
eggs=PIL
PIL-pre-setup-hook=${buildout:hooks-directory}/pil.py:pil
includes = ${freetype:location}/include/freetype2
[site-packages-2.6]
index=http://${mirrors:minitage}/PIL-1.1.7.tar.gz
find-links=${site-packages-2.4:index}
recipe = minitage.recipe.scripts
eggs=PIL
PIL-pre-setup-hook=${buildout:hooks-directory}/pil.py:pil
includes = ${freetype:location}/include/freetype2


# warning this dist can be replaced with the orignal one which is not well paclaged, 
# eg:  rm  /home/kiorky/.buildout/downloads/minitage/eggs/PIL-1.1.7.tar.gz

